<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="user_top">
      <div class="avatar inline-block">
        <%= image_tag user_picture(@user), class: "img-circle pic-middle" %>
        <strong class="user_name"><%= @user.username%></strong>
      </div>
    </div>

    <h4 class="center"><%= "#{@user.username}"%> Skills</h4>
    <div class="skill_form center">
      <%= render "skill_tags/form", user: @user　%>
    </div>
    <ul class="skills">
    <% if @skills.any? %>
      <%= render @skills, user: @user %>
    <% else %>
      <br>
      <p class="center">you haven't added any skills yet.</p>
    <% end %>
  </div>
</div>
