<li id="skill-<%= user_skill.id %>">
  <div class="user_skills">
    <span class="points_span">
      <span class="skill_points_<%= user_skill.id %> points">
        <%= user_skill.points %>
      </span>
      <% unless  current_user == @user  %>
        <span class="skill_<%= user_skill.id %>_btn">
          <%= render 'plusings/points_btn', user_skill: user_skill %>
        </span>
      <% end %>
    </span>
    <span class="user_skill_name">
      <%= link_to "#{user_skill.skill_tag.name}", skill_tag_path(user_skill.skill_tag) %>
    </span>
    <% if @feature_skills.include?(user_skill) %>
      <span class="skill_<%= user_skill.id %>_plused_users">
        <% user_skill.first_10_plusing.each do |p| %>
          <%= image_tag "#{user_picture(p.user)}", class: "img-circle pic-small img_#{p.user.id}" %>
        <% end %>
      </span>
    <% end %>
  </div>
</li>
